<a href="https://colab.research.google.com/github/ReggieChang2025/BabysfirstRepository/blob/main/%F0%9F%A7%AA_Lab_Ladder_Part_5_Control_Flow_%26_Iteration_Essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/219/original/CT_LOGO_NEW.jpg" width=60>
</div>

# **Python Ladder Challenges - Control Flow & Iteration Essentials**

# Climb the Ladder!
Welcome to Part 5 of our ladder! Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section VIII: Conditionals and Loops

52) Print out the numbers 1 through 20.

In [1]:
for i in range(1, 21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

53) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [2]:
for i in range(1, 21, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

54) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [3]:
for i in range(1, 21):
  if i % 2 == 1:
    print(i)

1
3
5
7
9
11
13
15
17
19

55) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [8]:
total = 0
for i in range(1, 101):
  #total.append(i)
  total = total + i
print(total)

5050

56) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [10]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [13]:
for person in friends:
  print(person.upper() + " IS AWESOME!")

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

57) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [14]:
for person in friends:
  if person[-1] in "aeiou":
    print(person.upper() + " IS AWESOME!")
  else:
    print(person.lower() + " is ok...")

ALICE IS AWESOME!
bob is ok...
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

58) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [15]:
for i in range(1, 31):
  if i % 3 == 0:
    print("Fizz")
  else:
    print(i)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

59) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `'Buzz'`. Otherwise, just print the number.

In [16]:
for i in range(1, 31):
  if i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29
Buzz

60) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [22]:
for i in range(1, 31):
  if i % 3 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 3 == 0:
        print("Fizz")
  elif i % 5 == 0:
        print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [23]:
for i in range(1, 31):
    output = ""  # Initialize an empty string to store the output
    if i % 3 == 0:
        output += "Fizz"  # Add "Fizz" if divisible by 3
    if i % 5 == 0:
        output += "Buzz"  # Add "Buzz" if divisible by 5
    if output == "":  # If output is still empty (not divisible by 3 or 5)
        output = str(i)  # Set output to the number itself
    print(output)  # Print the final output

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

61) Define a string and call it `sentence`!

In [ ]:
sentence = "This is a sentence."

62) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [31]:
sentence = "This is a sentence."
count = 0

for i in sentence.lower():
  if i in "aeiou":
      count += 1
print(count)

6

63) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed.
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [32]:
sentence = "This is a sentence."
sentence_rm = ""

for i in sentence.lower():
  if i not in "aeiou":
    sentence_rm += i
print(sentence_rm)

ths s  sntnc.

64) A palindromic word reads the same both ways. For example, “civic,” “madam,” “radar,” and “deified” are all palindromes. Write an `if` statement to test whether or not a word is palindromic. Bonus if you can make this case insensitive.

In [36]:
 word = "Civic"
# back_words = word[::-1]
# word.lower() == back_words.lower()

if word.lower() == word.lower()[::-1]:
    print(f"'{word}' is a palindrome")
else:
    print(f"'{word}' is not a palindrome")

'Civic' is a palindrome